<div class="register-container">
  <h2>Registrarse</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div>
      <label for="username">Nombre de Usuario:</label>
      <input type="text" id="username" formControlName="username" required />
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required />
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" formControlName="password" required />
    </div>
    <button type="submit" [disabled]="!registerForm.valid">Registrarse</button>
  </form>
</div>